.homeContainer{
    margin : 2.5rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .homeContainer {
        margin: 9rem 0 0;
    }
}
.homeTitle{
    align-self: flex-start;
    margin: auto;
    max-width: 1024px;
    display: block;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .homeTitle {
        font-size: 1.5rem;
        align-self: center;
    }
}